In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib.inline

UsageError: Line magic function `%matplotlib.inline` not found.

In [9]:
df = pd.read_csv("zameen_karachi_cleaned_data_1000.csv")

In [10]:
df.head(3)

,area,atm machines,barbeque area,bathrooms,baths,bedrooms,beds,broadband internet access,built in year,business center or media room in building,...,sauna,security staff,servant quarters,service elevators in building,steam room,store rooms,study room,swimming pool,type,waste disposal
0,55,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,150,0,0,0,4,4,4,0,2022,0,...,0,0,0,0,0,0,0,0,1,0
2,500,0,0,6,6,5,5,0,0,0,...,0,1,1,0,0,0,1,0,1,1

In [11]:
df["location"].value_counts()

2    8312
0    4910
1    3428
3    1962
6    1851
5    1292
4    1267
Name: location, dtype: int64

In [ ]:

fig, ax = plt.subplots(figsize=(24, 18))

hm = sns.heatmap(df.corr(), cbar=True, vmin=-0.5, vmax=0.5,
                 fmt='.2f', annot_kws={'size': 3}, annot=True, 
                 square=True, cmap=plt.cm.Blues)

plt.tight_layout()
plt.savefig("corr_matrix_incl_anno_double.png", dpi=300)

In [ ]:
df.columns

In [ ]:
df.corr()[df.corr()['price'] > 0.7]

In [ ]:
###area   baths beds  swimingpool type  waste disposal broadbandinternetaccess 
###built-in-year centralAC diningroom drawingroom floors gym intercom jacuzzi kitchens laundryrooms
###lawnorgarden location loungeorsittingroom petpolicy powderroom prayerroom satellitecabletvready
###servantquaters steamroom storeroom studyroom swimmingpool
### other and nearby

In [ ]:
for x in df.columns:
    w = df.corr()[df.corr()['price'] < 0.1][x]
    print(x ,"\t\t" , w)

In [ ]:
df.columns

In [ ]:
for x,i in enumerate (df.corr()['price']):
    if i > 0.1 or i < -0.1:   
        print(x , i)
##1 5 7 8 9 12 13 21 23 24 31 35 36 38 40 41      akhir walay 6

In [ ]:
df[["area",""]]

In [ ]:
df.columns[59]

In [ ]:
new_df = df[['area','baths','beds','broadband internet access','built in year','central air conditioning','central heating',
            'dining room','double glazed windows','drawing room','floors','intercom','jacuzzi','kitchens','laundry room',
            'lawn or garden','waste disposal','servant quarters','type','swimming pool','study room','prayer room','satellite or cable tv ready','store rooms','steam room','price']]

In [ ]:
new_df.head(5)

In [ ]:
new_df["built in year"].unique()


new_df.drop(["built in year"],axis=1,inplace=True)
##droping built in year

In [ ]:

fig, ax = plt.subplots(figsize=(24, 18))

hm = sns.heatmap(new_df.corr(), cbar=True, vmin=-0.5, vmax=0.5,
                 fmt='.2f', annot_kws={'size': 3}, annot=True, 
                 square=True, cmap=plt.cm.Blues)

plt.tight_layout()
plt.savefig("corr_matrix_incl_anno_double.png", dpi=500)

In [ ]:
##new_df.drop(["double glazed windows"],axis=1,inplace=True)
##new_df.drop(["intercom"],axis=1,inplace=True)
##new_df.drop(["central heating"],axis=1,inplace=True)
##new_df.drop(["steam room"],axis=1,inplace=True)
##new_df.drop(["study room"],axis=1,inplace=True)
##new_df.drop(["drawing room"],axis=1,inplace=True)
##new_df.drop(["jacuzzi"],axis=1,inplace=True
new_df.drop([""])

In [ ]:
new_df

In [ ]:
sns.heatmap( new_df.corr() )

In [ ]:
new_df.columns

In [ ]:
k

In [ ]:
X = z
y = df["price"]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train,y_train)

pred = lr.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score

r2_score(y_test,pred)

In [ ]:
pred

In [ ]:
from sklearn.metrics import mean_squared_error

np.sqrt(   mean_squared_error(y_test,pred) )

In [ ]:
df["area"] =  df[df["area"] < 2000]["area"]

df["price"] =  df[df["price"] < 51000000]["price"]

In [ ]:
df

In [ ]:
sum(df["area"] > 2000)

In [ ]:
sum(df["price"] > 200000000)

In [ ]:
sns.boxplot(df['price'])

In [ ]:
df.columns

In [ ]:
for x in df.columns:
    if len(df[x].unique()) > 2:
        print( x, df[x].unique() )

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
sns.distplot(df["price"])

In [ ]:
df.drop(["built in year"],inplace=True,axis=1)

In [ ]:
data = df[["area","baths","beds","broadband internet access","central air conditioning","floors","kitchens","lawn or garden","waste disposal","servant quarters","type","price"]]

In [ ]:
data.head(3)

In [ ]:
data.describe()

In [ ]:
X = data.drop("price",axis=1)
y = data["price"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
lr = LinearRegression()
lr.fit(X_train,y_train)

pred = lr.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error

print( r2_score(pred,y_test) )
np.sqrt(   mean_squared_error(y_test,pred) )

In [ ]:
sns.scatterplot(data["area"],data["price"])

In [ ]:
from sklearn.tree import DecisionTreeRegressor
DTR = DecisionTreeRegressor()

DTR.fit(X_train,y_train)
dtr_pred = DTR.predict(X_test)


from sklearn.metrics import mean_squared_error,r2_score


print( r2_score(dtr_pred,y_test) )
np.sqrt(   mean_squared_error(y_test,dtr_pred) )

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
aR = AdaBoostRegressor()

aR.fit(X_train,y_train)
aR_pred = aR.predict(X_test)


from sklearn.metrics import mean_squared_error,r2_score


print( r2_score(aR_pred,y_test) )
np.sqrt(   mean_squared_error(y_test,aR_pred) )

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
GBR = GradientBoostingRegressor()

GBR.fit(X_train,y_train)
GBR_pred = GBR.predict(X_test)


from sklearn.metrics import mean_squared_error,r2_score


print( r2_score(GBR_pred,y_test) )
np.sqrt(   mean_squared_error(y_test,GBR_pred) )

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
GBR = GradientBoostingRegressor()

GBR.fit(X_train,y_train)
GBR_pred = GBR.predict(X_test)


from sklearn.metrics import mean_squared_error,r2_score


print( r2_score(GBR_pred,y_test) )
np.sqrt(   mean_squared_error(y_test,GBR_pred) )