In [ ]:
import requests
import requests
from bs4 import BeautifulSoup
import math
import re

In [ ]:
# CONSTANTS
total = 45082
threshold = 25
iterations = math.floor(total/threshold)-1
list_template = "https://www.zameen.com/Homes/Karachi-2-"
list_template_post = ".html"
mainLink = "https://www.zameen.com"
pageLinks = []
all = []
uniqueColumns = []
# Area is in sq yard

In [ ]:
def fetchPage(URL):
  r = requests.get(URL)
  return r.content

def run(page):
  soup = BeautifulSoup(page, 'html5lib')
  links = soup.find_all('a', class_=["_7ac32433"])
  for row in links:
    pageLinks.append(row.get("href"))

def addUniqueColumn(value):
  if value not in uniqueColumns:
    uniqueColumns.append(value)

def fetchHousePage(link):
  entry = {}
  soup = BeautifulSoup(fetchPage(link), 'html5lib')
  dataList = soup.find('ul', class_=["_033281ab"])
  for ring in dataList:
    name = ring.find("span", class_=["_812aa185"]).get("aria-label")
    value = ring.find("span", class_=["_812aa185"])
    if name == "Beds" or name == "Baths":
      entry[name.lower()] = int("".join(re.findall("[0-9]", value.string)))
      addUniqueColumn(name.lower())
    elif name == "Area":
      entry[name.lower()] = int("".join(re.findall("[0-9]", value.find("span").string)))
      addUniqueColumn(name.lower())
    elif name == "Type":
      entry[name.lower()] = value.string.strip()
      addUniqueColumn(name.lower())
    elif name == "Price":
      entry[name.lower()] = value.find("div").text.replace("PKR", "").strip()
      addUniqueColumn(name.lower())
    elif name == "Location":
      entry[name.lower()] = value.string.strip()
      addUniqueColumn(name.lower())
    elif name == "Purpose":
      entry[name.lower()] = value.string.strip()
      addUniqueColumn(name.lower())

  features = soup.find_all('span', {'class' : '_17984a2c'})
  featureList = [feature.get_text() for feature in features]

  for ring in featureList:
    isQuantity = ring.split(":")
    if len(isQuantity) == 2:
      entry[isQuantity[0].strip().lower()] = int(isQuantity[1])
      addUniqueColumn(isQuantity[0].strip().lower())
    else:
      entry[ring.strip().lower()] = 1
      addUniqueColumn(ring.strip().lower())
  
  all.append(entry)

In [ ]:
for link in pageLinks:
  try:
    fetchHousePage(mainLink+link)
  except:
    pass

In [ ]:
print(len(pageLinks))
print(len(all))

25913
23022

In [ ]:
all

[]

In [ ]:
uniqueColumns

[]

In [ ]:
pageLinks

[]

In [ ]:
with open('zameen_dataset_columns.txt', 'w') as f:
    for item in uniqueColumns:
        f.write("%s\n" % item)

In [ ]:
with open('/content/zameen_home_links.txt', 'r') as file:
    for line in file:
        pageLinks.append(line.rstrip())

In [ ]:
# for page in pageLinks

In [ ]:
# # link = "https://www.zameen.com/Property/karachi_karachi_hyderabad_motorway_a_stunning_farm_house_is_up_for_grabs_in_karachi_hyderabad_motorway_karachi_hyderabad_motorway-36991907-17010-1.html"
# link = "https://www.zameen.com/Property/malir_gulshan_e_rafi_stunning_upper_portion_is_available_for_sale_in_gulshan_e_rafi-38617549-7305-1.html"
# soup = BeautifulSoup(requests.get(link).content, 'html5lib')
# # print(mainLink+pageLinks[56])

# dataList = soup.find('ul', class_=["_033281ab"])
# for ring in dataList:
#   name = ring.find("span", class_=["_812aa185"]).get("aria-label")
#   value = ring.find("span", class_=["_812aa185"])
#   if name == "Beds" or name == "Baths":
#     entry[name.lower()] = int("".join(re.findall("[0-9]", value.string)))
#     addUniqueColumn(name.lower())
#   elif name == "Area":
#     entry[name.lower()] = int("".join(re.findall("[0-9]", value.find("span").string)))
#     addUniqueColumn(name.lower())
#   elif name == "Type":
#     entry[name.lower()] = value.string.strip()
#     addUniqueColumn(name.lower())
#   elif name == "Price":
#     entry[name.lower()] = value.find("div").text.replace("PKR", "").strip()
#     addUniqueColumn(name.lower())
#   elif name == "Location":
#     entry[name.lower()] = value.string.strip()
#     addUniqueColumn(name.lower())
#   elif name == "Purpose":
#     entry[name.lower()] = value.string.strip()
#     addUniqueColumn(name.lower())

# features = soup.find_all('span', {'class' : '_17984a2c'})
# featureList = [feature.get_text() for feature in features]

# for ring in featureList:
#   isQuantity = ring.split(":")
#   if len(isQuantity) == 2:
#     entry[isQuantity[0].strip().lower()] = int(isQuantity[1])
#     addUniqueColumn(isQuantity[0].strip().lower())
#   else:
#     entry[ring.strip().lower()] = 1
#     addUniqueColumn(ring.strip().lower())

    
# print(entry)
# print(uniqueColumns)


# import ast
# v = []
# with open('test.txt', 'r') as file:
#     for line in file:
#         v.append(line.rstrip())
# print(v)
# d= []
# for i in v:
#   d.append(ast.literal_eval(i))

# for i, one in enumerate(a):
#   for j in b:
#     if j not in one:
#       a[i][j] = 0

# a

# d

In [ ]:
# int("".join(re.findall("[0-9]", "2 Beds")))

In [ ]:
for i, one in enumerate(all):
  for j in uniqueColumns:
    if j not in one:
      all[i][j] = 0

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import ast
data_raw = []
with open('zameen_home_data_equalized.txt', 'r') as file:
    for line in file:
        data_raw.append(ast.literal_eval(line.rstrip()))

len(data_raw)

23022

In [ ]:
to_add = {'area': [],
 'atm machines': [],
 'barbeque area': [],
 'bathrooms': [],
 'baths': [],
 'bedrooms': [],
 'beds': [],
 'broadband internet access': [],
 'built in year': [],
 'business center or media room in building': [],
 'cctv security': [],
 'central air conditioning': [],
 'central heating': [],
 'communal/shared kitchen': [],
 'community centre': [],
 'community gym': [],
 'community lawn or garden': [],
 'community swimming pool': [],
 'conference room in building': [],
 'day care centre': [],
 'dining room': [],
 'distance from airport (kms)': [],
 'double glazed windows': [],
 'drawing room': [],
 'electricity backup': [],
 'elevators': [],
 'facilities for disabled': [],
 'first aid or medical centre': [],
 'floor': [],
 'flooring': [],
 'floors': [],
 'floors in building': [],
 'furnished': [],
 'gym': [],
 'intercom': [],
 'jacuzzi': [],
 'kids play area': [],
 'kitchens': [],
 'laundry or dry cleaning facility': [],
 'laundry room': [],
 'lawn or garden': [],
 'lobby in building': [],
 'location': [],
 'lounge or sitting room': [],
 'maintenance staff': [],
 'mosque': [],
 'nearby hospitals': [],
 'nearby public transport service': [],
 'nearby restaurants': [],
 'nearby schools': [],
 'nearby shopping malls': [],
 'other business and communication facilities': [],
 'other community facilities': [],
 'other facilities': [],
 'other healthcare and recreation facilities': [],
 'other main features': [],
 'other nearby places': [],
 'other rooms': [],
 'parking spaces': [],
 'pet policy': [],
 'powder room': [],
 'prayer room': [],
 'price': [],
 'public parking': [],
 'purpose': [],
 'satellite or cable tv ready': [],
 'sauna': [],
 'security staff': [],
 'servant quarters': [],
 'service elevators in building': [],
 'steam room': [],
 'store rooms': [],
 'study room': [],
 'swimming pool': [],
 'type': [],
 'waste disposal': []}
for i, one in enumerate(data_raw):
  for j in uniqueColumns:
    to_add[j].append(one[j])

In [ ]:
df = pd.DataFrame.from_dict(to_add)

df.head(5)

,area,atm machines,barbeque area,bathrooms,baths,bedrooms,beds,broadband internet access,built in year,business center or media room in building,...,sauna,security staff,servant quarters,service elevators in building,steam room,store rooms,study room,swimming pool,type,waste disposal
0,55,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,Flat,1
1,150,0,0,0,4,4,4,0,2022,0,...,0,0,0,0,0,0,0,0,House,0
2,500,0,0,6,6,5,5,0,0,0,...,0,1,1,0,0,0,1,0,House,1
3,42,0,1,1,1,1,1,1,0,0,...,0,1,0,1,0,1,0,0,Flat,1
4,152,0,1,4,4,3,3,1,2022,0,...,1,1,1,0,1,1,1,1,House,1

Warning: Total number of columns (76) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.to_csv("zameen-karachi-dataset.csv")